
<h5> Games</h5>
<br>
<br>

<!-- <form *ngIf="categorySelect"[formGroup]="formCategory" (ngSubmit)="onCategorySubmit()" novalidate class="form">
  <div class="form-item">
    <label for="category" class="start">Category</label>
    <select formControlName="category" id="category" class="custom-select">
      <option value="free">free</option>
      <option value="vvip">vvip</option>
    </select>
  </div>

  <button type="submit" class="bg-primary text-white">
    Submit Category and Date
  </button>
</form> -->

<br>


<div class="container-fluid">
    <form [formGroup]="formData" (ngSubmit)="onSubmit()" novalidate class="form">
      <div class="form-row">
        <!-- ATM GL -->
        <div class="form-item">
          <label for="" class="start">Date <span class="text-danger">*</span></label>
          <input type="text" formControlName="date" class="form-control" />
                  </div>
  
        <!-- Sol code -->
        <div class="form-item">
          <label for="" class="start">Kick Off <span class="text-danger">*</span></label>
          <input type="text" formControlName="ko" class="form-control" />
        </div>
      </div>
  
      <div class="form-row">
        <!-- Profile Name -->
        <div class="form-item">
          <label for="" class="start">League <span class="text-danger">*</span></label>
          <input type="text" formControlName="league" class="form-control" />
        </div>
  
        <!-- Location -->
       
      </div>
  
      <div class="form-row">
        <!-- Tcp Port -->
        <div class="form-item">
          <label for="" class="start">Games</label>
          <input type="text" formControlName="games" class="form-control" />
        </div>
  
        <!-- IP Address -->
        <div class="form-item">
          <label for="" class="start">Prediction</label>
          <input type="text" formControlName="predict" class="form-control" />
        </div>
      </div>
  
      <div class="form-row">
        <!-- Terminal Master Key -->
        <div class="form-item">
          <label for="" class="start">Odds</label>
          <input type="text" formControlName="odds" class="form-control" />
        </div>
  
        <!-- Terminal Pin Key -->
        <div class="form-item">
          <label for="" class="start">Category</label>
          <input type="text" formControlName="category" class="form-control" />
        </div>
      </div>
  
      <div class="form-row">
        <!-- Vendor Name -->
        <div class="form-item">
          <label for="" class="start">Result</label>
          <input type="text" formControlName="result" class="form-control" />
        </div>
        <div class="form-item">
            <label for="" class="start">verdict</label>
            <input type="text" formControlName="verdict" class="form-control" />
          </div>
      </div>
      <br>
      <br>

      <button *ngIf="hideTable" mat-raised-button type="submit" class="bg-primary text-white">
        Add Game
      </button>
      <br>
  
      <table *ngIf="hideTable" class="football-fixtures">
        <thead>
          <tr>
            <th>Time</th>
            <th>League</th>
            <th>Match</th>
            <th>Pick</th>
            <th>Odds</th>
            <th>Results</th>
            <th>Outcome</th>
            <th>Cat</th>
            <th>Action</th> <!-- New column header -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fixture of gamesArray; let i = index">
            <td>{{ fixture.ko }}</td>
            <td>{{ fixture.league }}</td>
            <td>{{ fixture.games }}</td>
            <td>{{ fixture.predict }}</td>
            <td>{{ fixture.odds }}</td>
            <td>{{ fixture.result }}</td>
            <td>{{ fixture.verdict }}</td>
            <td>{{ fixture.category }}</td>
            <td>
              <span mat-icon-button (click)="removeGame(i)">
                remove
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
  
      <!-- Submit and Back Buttons -->
      
        <button (click)="submitGame()" *ngIf="addGame" mat-raised-button class="bg-primary text-white">
          Add
        </button>
        <button (click)="updateGame()" *ngIf="modifyGame" mat-raised-button type="button" class="bg-secondary text-white">
          Modify
        </button>
        <button (click)="openDialog()" *ngIf="modifyGame" mat-raised-button type="button" class="bg-secondary text-white">
            Delete
          </button>
      
    </form>
  </div>
  