<div class="login-container">
  <div class="form-box">
    <!-- Close Icon -->
    <mat-icon (click)="closeDial()" class="close-icon">cancel</mat-icon>

    <!-- Reset Password Form -->
    <div class="form-content">
      <h2>Reset Password</h2>
      <form>
        <div class="input-box">
          <input type="email" placeholder="Email" required name="email" [(ngModel)]="email" />
        </div>
        <p class="forgot-password">Submit password reset</p>
        <button type="submit" class="btn" (click)="resetPassword()">Reset</button>
      </form>
    </div>
  </div>
</div>
