<div class="sidebar">
  <nav>
    <div class="profile" *ngIf="authenticated">
      <mat-card>
        <h5>{{email}}</h5>
        <mat-card class="Package">
          <h6 *ngIf="fiveOdds">5+ Odds Package</h6>
          <h6 *ngIf="tenOdds">10+ Odds Package</h6>
          <h6 *ngIf="twentyOdds">20+ Odds Package</h6>
          <h6 *ngIf="vvipOdds">VVIP Package</h6>
          <h6 *ngIf="liamOdds">
            Liam Reese Package</h6>
          <h6 *ngIf="andrewOdds">Andrew Wilson Package</h6>
        </mat-card>


      </mat-card>
    </div>
    <br>
    <br>
    <mat-card>
      <ul>
      
        <li>
          <a (click)="navigate('over')">
            <i class="icon">⚽</i>
            Over- Under
          </a>
        </li>
        <li>
          <a (click)="navigate('home')">
            <i class="icon">⚽</i>
            Direct Wins
          </a>
        </li>
        <li>
          <a (click)="navigate('special')">
            <i class="icon">⚽</i>
            Special Selections
          </a>
        </li>
        <li>
          <a (click)="navigate('high')">
            <i class="icon">⚽</i>
            High Odds Tips
          </a>
        </li>
        
      </ul>
    </mat-card>
<br>
<br>
    <mat-card>
      <ul>
      
        <li>
          <a (click)="navigate('tipsters')">
            <i class="icon">🤴</i>
            Tipsters Selections
          </a>
        </li>
        
      </ul>
    </mat-card>
    <br>
    <br>
    <mat-card>
      <ul>
      
        <li>
          <a (click)="navigate('premium/five')">
            <i class="icon">👑</i>
            5+ Odds Daily Tips 
          </a>
        </li>
        <li>
          <a (click)="navigate('premium/ten')">
            <i class="icon">👑</i>
            10+ Odds Daily Tips
          </a>
        </li>
        <li>
          <a (click)="navigate('premium/twenty')">
            <i class="icon">👑</i>
            20+ Odds Daily Tips
          </a>
        </li>
        <li>
          <a (click)="navigate('premium/vvip')">
            <i class="icon">👑</i>
            VVIP Daily Tips
          </a>
        </li>
       
      </ul>
    </mat-card>
    
  </nav>
</div>
