<div class="table-container">
    <!-- Table Header with Date -->
    <div *ngFor="let matchDay of matchDays" class="match-day">
      <div class="date-header">{{ matchDay.date}}</div>
  
      <!-- Match List for the Day -->
      <table class="matches-table">
        <thead>
          <tr>
            <th>Time</th>
            <th>League</th>
            <th>Game</th>
            <th>Tip</th>
            <th>Odd</th>
            <th>Results</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let match of matchDay.matches">
            <td>{{match.ko}}</td>
            <td>{{match.league}}</td>
            <td>{{match.games}}</td>
            <td [ngClass]="{'win-tip': match.tipWin, 'lose-tip': !match.tipWin}">
              {{ match.predict }}
            </td>
            <td>{{ match.odds }}</td>
            <td>{{ match.results }}</td>
          </tr>
        </tbody>
      </table>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>

    <button class="back" routerLink="/tipsters">Back</button>
  </div>
  