<div class="table-container">
  <!-- Table Header with Date -->
  <div *ngFor="let matchDay of matchDays" class="match-day">
    <div class="date-header">{{ matchDay.date }}</div>

    <!-- Match List for the Day -->
    <table class="matches-table">
      <thead>
        <tr>
          <th>Time</th>
          <th>League</th>
          <th>Game</th>
          <th>Tip</th>
          <th>Odd</th>
          <th>Results</th>
          <th *ngIf="authorize">Update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of matchDay.matches">
          <td>{{ match.ko }}</td>
          <td>{{ match.league }}</td>
          <td>{{ match.games }}</td>
          <td>{{ match.predict }}</td>
          <td>
            <span [ngClass]="{
                'won': match.verdict === 'win',
                'lost': match.verdict === 'lost',
                'pending': match.verdict === 'pending'
              }">
              {{ match.odds }}
            </span>
          </td>
          <td>{{ match.result }}</td>
          <td *ngIf="authorize" (click)="modifyGame(match)">
            
            <span>update</span>
        </td>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="back" routerLink="/tipsters">Back</button>
</div>
