
<div class="order-summary-container">
    <h3>Order Summary</h3>
  
    <div class="summary-item">
      <span>{{description}}</span>
      <!-- <div class="price-section">
        <span class="original-price">$2,250.00</span>
        <span class="discounted-price">$2,025.00</span>
      </div> -->
    </div>
  
    <div class="summary-totals">
      <div class="subtotal">
        <span>Subtotal</span>
        <span>${{amount}}</span>
      </div>
      <div class="shipping">
        <span>Shipping</span>
        <span>--</span>
      </div>
      <div class="taxes">
        <span>Taxes</span>
        <span>--</span>
      </div>
      <div class="promo">
        <span>Promo/Gift Certificate</span>
        <span>$0.00</span>
      </div>
    </div>
  
    <div class="total">
      <span>Total (USD)</span>
      <span class="total-price">${{amount}}</span>
    </div>
  </div>
  <div class="paypalbtn">
    <div id="paypal-button-container-P-9B849817EY6858127M4HDDQY"></div> 
    <div id="paypal-button-container-P-7WW44478F59497749M4HDGRQ"></div>
    <div id="paypal-button-container-P-74174117DW546953KM4HFWQQ"></div>
  </div>

  