<div class="close" (click)="cancelTransaction()">
  <mat-icon>cancel</mat-icon>
</div>
<div class="order-summary-container">
    <h3>Order Summary</h3>
  
    <div class="summary-item">
      <span>{{description}}</span>
      <!-- <div class="price-section">
        <span class="original-price">$2,250.00</span>
        <span class="discounted-price">$2,025.00</span>
      </div> -->
    </div>
  
    <div class="summary-totals">
      <div class="subtotal">
        <span>Subtotal</span>
        <span>${{amount}}</span>
      </div>
      <div class="shipping">
        <span>Shipping</span>
        <span>--</span>
      </div>
      <div class="taxes">
        <span>Taxes</span>
        <span>--</span>
      </div>
      <div class="promo">
        <span>Promo/Gift Certificate</span>
        <span>$0.00</span>
      </div>
    </div>
  
    <div class="total">
      <span>Total (USD)</span>
      <span class="total-price">${{amount}}</span>
    </div>
  </div>
  <div  class="payButtons">
    <google-pay-button environment="TEST" [buttonColor]="buttonColor" [buttonType]="buttonType"
      [buttonSizeMode]="isCustomSize ? 'fill' : 'static'" [paymentRequest]="paymentRequest" [style.width.px]="buttonWidth"
      [style.height.px]="buttonHeight" (loadpaymentdata)="onLoadPaymentData($event,'tipster1')"></google-pay-button>
  </div>

  