.order-summary-container {
  width: 300px;
  border: 2px solid #ddd;
  padding: 12px;
  font-family: Arial, sans-serif;
  align-self: center;
  margin-top: 14px;
}

h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.summary-item {
  margin-bottom: 15px;
}

.price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.original-price {
  text-decoration: line-through;
  color: #999;
}

.discounted-price {
  color: #333;
  font-weight: bold;
}

.summary-totals {
  margin-top: 20px;
}

.subtotal, .shipping, .taxes, .promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}

.total-price {
  color: #000;
}

.payButtons{
  margin-top: 30px;
  width: 300px;
  padding: 20px;
  font-family: Arial, sans-serif;
  align-self: center;
}
.close{
  align-self: flex-end;
  margin: 6px;
  color: gray;
    
}
