<div *ngIf="showCard" class="profile-card">
    <mat-card>
        <div class="profile-header">
            <div class="profile-info">
              <h2>{{email}}</h2>
            </div>
          </div>
    </mat-card>
    
  
    <div class="skills">
      <h3>Subscriptions</h3>
      <div class="skill">
        <span>5+ Tips</span>
        <div class="tags">
          <span>{{fivestatus}}</span>
          <span>{{fiveDays}}</span>
        </div>
      </div>
  
      <div class="skill">
        <span>10+ Tips</span>
        <div class="tags">
            <span>{{tenStatus}}</span>
            <span>{{tenDays}}</span>
          </div>
      </div>
  
      <div class="skill">
        <span>20+ Tips</span>
        <div class="tags">
            <span>{{twentyStatus}}</span>
            <span>{{twentyDays}}</span>
          </div>
      </div>
      <div class="skill">
        <span>VVIP Tips</span>
        <div class="tags">
            <span>{{vvipStatus}}</span>
            <span>{{vvipDays}}</span>
          </div>
      </div>
      <div class="skill">
        <span>Liam Tips</span>
        <div class="tags">
            <span>{{tip1Status}}</span>
            <span>{{tip1Days}}</span>
          </div>
      </div>
      <div class="skill">
        <span>Andrew Tips</span>
        <div class="tags">
            <span>{{tip2Status}}</span>
            <span>{{tip2Days}}</span>
          </div>
      </div>
    </div>
  
  </div>
  
