<div class="card-container">
  <div class="card">
      <div class="card-header">
          <span class="card-title">Users</span>
      </div>
      <div class="card-body">
          <span class="card-label">{{totalUsers}}</span>
      </div>
  </div>
  <div class="card">
      <div class="card-header">
          <span class="card-title">Messages</span>
      </div>
      <div class="card-body">
          <span class="card-label">{{totalMessages}}</span>
      </div>
  </div>
  <div class="card" (click)="navigate()">
      <div class="card-header">
          <span class="card-title">Games</span>
      </div>
      <div class="card-body">
          <span class="card-label"></span>
      </div>
  </div>
  <div class="card" (click)="addGame()">
      <div class="card-header">
          <span class="card-title">Add Game</span>
      </div>
      <div class="card-body">
          <span class="card-label"></span>
      </div>
  </div>
  <div class="card" (click)="addTipsterGame()">
      <div class="card-header">
          <span class="card-title">Add Tipster Game</span>
      </div>
      <div class="card-body">
          <span class="card-label"></span>
      </div>
  </div>
  <div class="card" (click)="tipsterGames()">
      <div class="card-header">
          <span class="card-title">Tipster Games</span>
      </div>
      <div class="card-body">
          <span class="card-label"></span>
      </div>
  </div>
</div>

<!-- Wrapper for the two tables -->
<div class="tables-container">
  <table class="football-fixtures">
      <thead>
          <tr>
              <th>Email</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of allUsers">
              <td (click)="userDetails(user)">{{ user.email }}</td>
          </tr>
      </tbody>
  </table>

  <table class="football-fixtures">
      <thead>
          <tr>
              <th>Email</th>
              <th>User</th>
              <th>More</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let message of messages">
              <td >{{ message.email }}</td>
              <td>{{ message.name }}</td>
              <td (click)="userMessage(message)">
                <i class="material-icons">email</i>
            </td>
            
          </tr>
      </tbody>
  </table>
</div>
