.card-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .card {
    background-color: #2b2b3d;
    border-radius: 10px;
    width: 150px;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .card-header {
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-body {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .card-title {
    display: block;
    color: #00FFFF;
  }
  
  .card-label {
    display: block;
    margin-top: 5px;
    color: #00FFFF;
    font-family: 'Courier New', Courier, monospace;
  }

  .football-fixtures {
    border-collapse: collapse;
    width: 40%;
    margin-bottom: 400px;
  }
  
  th, td {
    border: 1px solid #c2185b;
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
    font-size: 12px;
    color: black;
  }
  
  th {
    background-color: #ded6d6;
    color: black;
  }

  .title, .pick {
    text-align: center; /* Center the title */
    margin-bottom: 20px; /* Add some space below the title */
}
  