
html,
body {
  height: 100%;
  font-family: "Roboto";
  
}

body {
  /* // text-transform: uppercase !important; */
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.won {
  background-color: lightgreen;
  padding: 5px;
  border-radius: 5px;
}

.lost {
  background-color: lightcoral;
  padding: 5px;
  border-radius: 5px;
}

.pending {
  background-color: lightyellow;
  padding: 5px;
  border-radius: 5px;
}

