
html,
body {
  height: 100%;
  font-family: "Roboto";
  
}

body {
  /* // text-transform: uppercase !important; */
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.won {
  background-color: lightgreen;
  padding: 5px;
  border-radius: 5px;
}

.lost {
  background-color: lightcoral;
  padding: 5px;
  border-radius: 5px;
}

.pending {
  background-color: lightyellow;
  padding: 5px;
  border-radius: 5px;
}
.secondary{
  background-color: aqua;
}
.odds {
  padding: 10px;
  display: flex;
  justify-content: flex-start; /* Align the date picker to the right */
  width: 100%; /* Full width for proper alignment */
  margin-bottom: 20px; /* Add some space below the date picker */
}

