<div id="paypal-button-container-P-9WK507662N944883LM4IRBPA"></div>
<div id="paypal-button-container-P-7T444693D0849280BM4IRB7Q"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AaGlpQzv2w40QpZ1bb2UcezSwjUCT1VHYjzW_KIY5ULxfnfPMYycVakHl0rVABwbvDT8lGpFWhMNFmQ7&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'subscribe'
      },
      createSubscription: function(data, actions) {
        return actions.subscription.create({
          /* Creates the subscription */
          plan_id: 'P-9WK507662N944883LM4IRBPA'
        });
      },
      onApprove: function(data, actions) {
        alert(data.subscriptionID); // You can add optional success message for the subscriber here
      }
  }).render('#paypal-button-container-P-9WK507662N944883LM4IRBPA'); // Renders the PayPal button
</script>

<div id="paypal-button-container-P-7T444693D0849280BM4IRB7Q"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AaGlpQzv2w40QpZ1bb2UcezSwjUCT1VHYjzW_KIY5ULxfnfPMYycVakHl0rVABwbvDT8lGpFWhMNFmQ7&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'subscribe'
      },
      createSubscription: function(data, actions) {
        return actions.subscription.create({
          /* Creates the subscription */
          plan_id: 'P-7T444693D0849280BM4IRB7Q'
        });
      },
      onApprove: function(data, actions) {
        alert(data.subscriptionID); // You can add optional success message for the subscriber here
      }
  }).render('#paypal-button-container-P-7T444693D0849280BM4IRB7Q'); // Renders the PayPal button
</script>